/* Modal.css */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

.modal-close {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;  
    background-color: transparent;  /* Setting background to transparent for buttons */
    border: none; 
    font-size: 1em;
     /* Removing default button borders */
}

.modal-close:hover {
    background-color: #f3e2b9;
}

.modal-close i {
    margin-right: 10px;  /* Increase this value to add more space */
}